#title {
  background-color: #9ed9ccff;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: 'Quicksand';
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}
h2 {
  font-family: 'Quicksand';
  color: white;
  font-size: 1.5;
  font-weight: bold;
}
h3 {
  font-family: 'Quicksand';
  font-weight: bold;
}

p {
  color: #8f8f8f;
  font-family: 'Quicksand';
}

em {
  font-family: 'Quicksand';
}

.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: 'Philosopher';
  font-size: 2.0rem;
  font-weight: bold;
}
.navbar-item {
  padding: 0 18px;
}
.nav-link {
  font-family: 'Quicksand';
  font-size: 1.2rem;
}



.download-button {
  margin: 5% 3% 5% 0;
}


.title-image {
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
}


#features {
  padding: 7% 15%;
  background-color: white;
  z-index: 1;
  position: relative;
}
.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ffdde2ff;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #9ed9ccff;
}


#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #9ed9ccff;
}
.carousel-item {
  padding: 7% 15%;
}
.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 10px;
}

#press{
  background-color: #9ed9ccff;
  text-align: center;
}
.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-header {
  color: black;
}
.pricing-column {
  padding: 3% 2%;
}

#cta {
  background-color: #9ed9ccff;
  color: white;
  padding: 7% 15%;
  text-align: center;
}
.cta-heading {
  font-family: 'Quicksand';
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  padding: 7% 15%;
  text-align: center
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px){

  #title {
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }
}